
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */


/* Navbar related style */
#navbar{
    display: flex;
    justify-content: space-around;
}

.nav-menu{
    display: flex;
    gap: 34px;
    align-items: center;
}

.nav-list{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

/* nav-text style */

.nav-left-title{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: bold;
}


/* Header er banner related style */

#banner-parent{
    display: flex;
    gap: 133px;
}

.banner-text-content{
    margin-top: 145px;
    margin-left: 120px;
}

.banner-title-h2{
    font-size: 3.25rem;
    color: #3A3A3A;
    line-height: 70px;
}

.banner-discription-p{
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 16px;
}

.banner-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}
/* banner image related style */

.banner-image{
    position: relative;
}

.banner-bg-image{
    max-width: 440px;
}

.banner-front-image{
    position: absolute;
    right: 50px;
    top: 50px;
    max-width: 380px;
}

.banner-image{
    margin-right: 130px;
    margin-top: 50px;
}


/* Web-icons related style */
#web-parent{
    max-width: 1110px;
    margin: 69px auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(192, 204, 218, 0.1);
}

.web-icons{
    text-align: center;
    margin-top: 34px;
}

/* card collection related style */

#card-parent{
    max-width: 1047px;
    margin: 0 auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
}

.card-title-h3{
    font-size: 1.75rem;
    color: #3A3A3A;
    text-align: center;
    margin-right: 50px;
}

.card-item{
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.last-text-h5{
    text-align: right;
    margin-top: 50px;
}

.card-title{
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 600;
}

.card-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
}

.card-discription{
    color: #787885;
    font-size: 0.8rem;
    font-weight: bold;
}

.last-text-h5{
    color: #E02C6D;
    font-weight: bold;
}

/* featured section related style */

#featured-parent{
    display: flex;
    max-width: 1110px;
    margin: 100px auto;
    gap: 96px;
}

.featured-text h2{
    color: #0A0826;
    font-size: 2.3rem;
    font-weight: bold;
}

.featured-text p{
    color: #6C6C6C;
    line-height: 28px;
    font-weight: bold;
}

.featured-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
}

/* Media quary for small device */

@media screen and (max-width: 576px){
    #navbar{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu{
        flex-wrap: wrap;
    }

    #banner-parent{
        flex-direction: column;
        gap: 0;
    }

    .banner-image{
        margin-left: 40px;
    }
    .banner-bg-image{
        width: 100%;
        margin-top: 0px;
    }
    .banner-front-image{
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 0px;
    }

    .banner-text-content{
        text-align: center;
        margin: 0;
    }

    /* web-icons related */
    #web-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* population card related */
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-item{
        /* width: 95%; */
        text-align: center;
    }
    .last-text-h5{
        text-align: center;
    }
    
}


